/******************** All HTML elements  ********************/
body {
  font-family: 'Montserrat';
}

h1 {
  font-family: 'Montserrat';
  color: white;
  /* We can also add this line to the title section to make the font color white as it resides in the title section. */
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  padding-top: 10%;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
  color: #000;
}

p {
  color: #8f8f8f;
}

#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/******************* Navigation Bar Styling **************************/
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
  /*Top & Bottom is 0 and left and right is 18px */
  font-size: 20px;
}

/*************** Title Image *****************/
.title-image {
  margin-left: 100px;
  margin-top: 25px;
  width: 50%;
  transform: rotate(20deg);
  position: absolute;
}

/******************** Download Button ************************/
.download-button {
  margin-top: 20px;
  margin-right: 20px;
  /* margin: 5% 3% 5% 0; */
}

/************************* Features Styling *******************/
#features {
  /*Considering the entire box*/
  padding: 7% 15%;
  font-family: "Ubuntu";
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  /* padding: 10px; */
}

.features-icons {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icons:hover {
  color: #ff4c68;
}

/*********************** Testimonials Section ************************/
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/********************** Press Section *****************************/
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 30px;
}

.press-images {
  width: 15%;
  margin: 20px 20px 30px;
}

/************************* Pricing Section ****************************/
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/*************** Call To Action Section *******************/
#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}

.cta-h3 {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.cta-btn {
  margin-top: 20px;
  margin-right: 20px;
}

/****************** Footer Section *******************/
#footer {
  text-align: center;
  padding: 7% 15%;
  background-color: #fff;
}

.footer-icons {
  margin: 5px 10px;
}

/*************************** Media Query Breakpoints **************************/
@media (max-width:995px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
